:root {
    --primary-yellow: #ffe600;
    --primary-red: #ff0000;
    --link-color: #ff7300;

    --bg-color: #ffffff;
    --bg-color-rgb: 255, 255, 255;
    --element-color: #000;

    --hover-bg: #353b48;

    --light-gray: #999;
    --shadow-color-rgb: rgba(207, 207, 207, 0.5);
}

@import "./utilities.scss";

.content {
    min-height: calc(100vh - 135px);
    display: flex;
}

.page-resources-container {
    flex: 1;
    padding-top: 24px;

    display: flex;
    flex-direction: column;

    > img {
        margin: 12px auto 36px;
        width: 400px;
    }
}

@media only screen and (max-width: 1024px) {
    body {
        padding: 70px 12px 0;
    }
}

@media only screen and (max-width: 768px) {
    .mobile-hidden {
        display: none;
    }
    .desktop-hidden {
        display: inherit;
    }

    .page-resources-container {
        padding-top: 12px;

        > img {
            width: 90%;
        }
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #353b48;
        --bg-color-rgb: 53, 59, 72;
        --element-color: #fff;
        --hover-bg: #fff;
        --light-gray: #ddd;
        --shadow-color-rgb: rgba(200, 200, 200, 0.1);
    }
}

@import "./header.scss";
@import "./home.scss";
@import "./about.scss";
@import "./menu.scss";
@import "./error.scss";
@import "./cards.scss";
@import "./projects.scss";
@import "./project.scss";
@import "./footer.scss";
@import "./links.scss";
@import "./contact.scss";
