<form class="contact-container" method="POST" action="">
    <input placeholder="<%= i18n.generic_name %>" name="name" required />
    <input placeholder="<%= i18n.generic_email %>" type="email" name="email" required />
    <textarea placeholder="<%= i18n.contact_body %>" name="content" required></textarea>
    <br />
    <button type="submit"><%= i18n.generic_send %></button>
</form>
