<main style="flex: 1; display: flex; align-items: center; justify-content: center; flex-direction: column">
    <img src="/assets/email-sent.svg" alt="mail sent" style="margin-bottom: 36px; max-width: 300px" />
    <h3 style="text-align: center; white-space: pre-wrap"><%= i18n.contact_email_sent(email) %></h3>
</main>
