<main class="page-resources-container">
    <img src="/assets/info.svg" alt="info illustration" />
    <section class="contents">
        <h1>About this page</h1>
        <br />
        <h2>This page has been designed with love by Lukas Staub in Germany.</h2>
        <b>Powered by <a href="https://www.plesk.com" target="_blank">plesk</a></b>
        <br />
        <br />
        <h3>Used libraries:</h3>
        <ul>
            <li>ExpressJS</li>
            <li>EJS</li>
            <li>nodemailer</li>
            <li>cookie-parser</li>
            <li>cors</li>
        </ul>
        <br />
        <br />
        <h3>Used sources:</h3>
        <ul>
            <li><a href="https://undraw.co/" target="_blank">undraw</a> (illustrations)</li>
        </ul>
    </section>
</main>
